<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create two new components: Warning Alert and Success Alert</li>
                <li>Output them eatch other in AppComponent</li>
                <li>Output a warning and success message in the Components</li>
                <li>Style the component</li>
            </ol>
            <p>Use external or internal templates and styles.</p>
            <p>Fell free to create one more component</p>
            <hr> 
            
            <app-servers></app-servers>
        </div>
    </div>
</div>


